.calculator {
  height: 320px;
  width: 235px;
  background-color: #121212;
  border-radius: 7px;
  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(5, 48px);
}