@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/Roboto-Thin.ttf')
}

* {
  font-family: 'RobotoMono', sans-serif;
}

body{
  display: flex;
  height: 97.5vh;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: #ffffff;

  background: #4b79a1; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #4b79a1, #283e51); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #4b79a1, #283e51); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

p {
  font-family: fantasy;
  font-size: 12px;
}
